{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}TWC Yearbook{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}?v=16" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">



    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                     <a class="nav-link" href="{% url 'index' %}">Graduates</a>
                    </li>
                    
                    <li class="nav-item">
                     <a class="nav-link" href="{% url 'summary' %}">Summary</a>
                    </li>
                    
                    <li class="nav-item">
                     <a class="nav-link" href="{% url 'memoriam' person="linda" %}">For Linda</a>
                    </li>
                    
                    <li class="nav-item">
                     <a class="nav-link" href="{% url 'memoriam' person="zaza" %}">For Zaza</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>


    </body>
    <script src="{% static 'network/global.js' %}?v=10"></script>
    {% block script %}
    {% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <!--<script nomodule src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>-->
</html>